/*
---- Basic Styling
*/

* {
  box-sizing: border-box;
}

.container-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 2em;
}
.container-screen .container-image {
  display: block;
  width: 100%;
  height: 100%;
}
.container-screen .container-title {
  position: absolute;
  top: 25%;
  left: 10%;
  max-width: 767px;
  padding: 2em;
  width: 100%;
  background-color: rgba(179, 212, 252, 0.5);
  color: #fff;
  text-shadow: none;
  display: block;
  z-index: 1;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.container-screen .container-title h1 {
  font-size: 54px;
  line-height: 64px;
}
.container-screen .container-title p {
  font-size: 24px;
  margin-top: 33px;
}

@media only screen and (max-width: 767px) {
  .container-screen {
    display: none;
  }
  .container-screen .container-title h1 {
    font-size: 22px;
    line-height: 31px;
  }
  .container-screen .container-title p {
    font-size: 14px;
    margin-top: 12px;
  }
}

/*
  ---- Navbar
  */
.navbar1 {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.navbar-buttons {
  position: relative;
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sign In Button */
.button {
  background-color: rgba(44, 45, 47, 0.749);
  width: 97px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/*
  ---- Overlay
  */
.overlay {
  position: fixed;
  background: rgba(51, 55, 69, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 10;
}

.overlay.open {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  z-index: 10;
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(odd) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(even) {
  animation-delay: 0.45s;
}

/* Navigation Title */
.overlay .nav-title {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 8%;
}

.overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 10px;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
  color: #123594;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
  background: #eade2e;
  opacity: 0.1;
}

button:focus {
  outline: 0;
}

.open-menu,
.close-menu,
.button {
  cursor: pointer;
  transition: transform 0.3s;
}
.open-menu:hover,
.close-menu:hover,
.button:hover {
  transform: scale(1.1);
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 43.5%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 10px;
}
.hometd {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  opacity: 0;
}
.entry-title {
  font-size: 22px;
  color: black;
  font-weight: 700;
  line-height: 30px;
  margin-top: 6px;
  word-spacing: -0.25px;
  letter-spacing: -0.4px;
  text-align: center;
}
.entry-summary {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  text-justify: inter-word;
  color: black;
}
.image-container {
  position: relative;
  display: block;
  padding: 10px;
}
.image-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
