:root {
  --text-color: #202340;
  --primary-color: #3c488e;
  --primary-dark-color: rgb(68, 79, 143);
  --primary-light-color: #5465ca;
  --white: #fff;
}

@keyframes arrow {
  from {
    padding-top: 0px;
    transform: scaleY(1);
  }

  50% {
    padding-top: 15px;
    transform: scaleY(0.8);
  }

  100% {
    padding-top: 0px;
    transform: scaleY(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-color);
}

#header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  position: sticky;
  z-index: 2;
  top: 0;
  background: var(--white);

  * {
    font-weight: bold;
    color: var(--text-color);
  }

  .nav-item {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .nav-item.active {
    opacity: 1;
  }

  .theme-store-link {
    color: white;
    opacity: 1;
    background: var(--primary-color);
    border-radius: 60px;

    .nav-link {
      color: white;
    }
  }

  .navbar-brand {
    position: relative;
    padding-left: 1.75em;
    padding-right: 5.5em;

    img {
      position: absolute;
      left: 0;
      height: 1.25em;
      top: 49%;
      transform: translateY(-50%);
    }
  }
}

.customer-info {
  .logo[tooltip]:after {
    content: attr(tooltip);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 6px;
    font-size: 0.75em;
    opacity: 0;
    transition: 0.25s;
  }

  .logo[tooltip]:hover:after {
    opacity: 1;
  }

  .logo {
    width: 175px;
    height: 236px;
    background-size: cover;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 0.5em;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #eee;
    position: relative;
    overflow: visible;
    transition: 0.25s;

    &:hover {
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    }

    .org-logo {
      position: absolute;
      bottom: -10px;
      right: -10px;
      z-index: 1;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      background-size: cover;
    }
  }

  b {
    display: block;
    height: 3em;
    font-size: 0.9em;
  }

  p {
    font-size: 0.8em;
    opacity: 0.65;
  }
}

.page {
  position: relative;
  margin-top: 64px;
  margin-bottom: 64px;
  overflow: hidden;
  .main {
    .section {
      padding-left: 32px;
      padding-right: 32px;
      display: grid;
      grid-template-columns: 2fr 1rem 1fr;
      grid-template-rows: minmax(70vh, 1fr);
      grid-template-areas: "main . sub";
      box-sizing: border-box;
      background: #ffffff;
      .info {
        position: relative;
        grid-area: main;
      }
      .sub {
        grid-area: sub;
        .sub-item {
          position: relative;          
          margin-bottom: 1rem;
          h2 {
            display: absolute;
            top: 0;
            left: 50px;
            width: 100px;
            font-size: 1.5em;
            bottom: 20px;
            right: 20px;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            font-weight: 700;
            color: #fff;
            z-index: 1;
          }
        }
      }
    }
  }
}
.landing-screen {
  float: left;
  width: 50%;
}
img {
  width: 100%;
}

footer {
  background: var(--text-color);
  color: var(--white);
  padding-top: 3em;

  p,
  a {
    color: var(--white);
  }

  a {
    &:hover {
      color: var(--white);
    }
  }

  .container {
    margin: auto;
  }

  .copyright {
    margin-top: 2em;
    text-align: center;
    padding: 0.75em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    cursor: default;
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 992px) {
  .active {
    .fas {
      color: var(--white) !important;
    }
  }

  #header {
    .nav-item {
      margin: 0 16px;
    }

    .nav-link {
      padding: 6px 20px;
    }

    .nav-item.active {
      opacity: 1;
      background: var(--primary-color);
      border-radius: 60px;

      .nav-link {
        color: var(--white);
      }
    }
  }

  .logo-Customer {
    .col-md-4 {
      padding: 0px 24px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .what {
    .landing-screen {
      position: absolute;
      opacity: 0.3 !important;
    }
  }

  .page {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .pa-button-over-image .et_pb_image_wrap:before {
    content: "Click Here!";
    line-height: 1.3em;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.5s ease;
  }
  .page.intro {
    #intro {
      padding: 0 0;

      .landing-screen {
        width: 100%;
      }

      .screen-col {
        margin-top: 2em;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }

        .round-decor {
          display: none;
        }
      }
    }

    .round {
      bottom: -300px;
      padding-top: 25px;
      width: 200vw;
    }
  }

  .list-feature {
    .col-md-4 {
      padding: 24px 18px;
    }

    h4 {
      display: block;
      min-height: auto;
    }
  }

  .timeline {
    height: 640px;
    width: 100% !important;
  }

  .timeline::before {
    content: "";
    position: absolute !important;
    top: 12.5% !important;
    transform: translatex(-50%) !important;
    width: 0 !important;
    height: 75% !important;
    left: calc(50% - 82.5px) !important;
    border: 3px solid var(--primary-color) !important;
  }

  .timeline-item {
    display: flex;
  }

  .timeline-item .icon {
    margin-right: 50px !important;
    margin-left: calc(50% - 140px) !important;
  }

  .timeline-content {
    text-align: center;
    width: 115px;
    padding-top: 50px;
    margin-right: calc(50% - 140px) !important;
  }

  // .timeline-content{
  //     h5 {
  //         m
  //     }
  // }
}
